{% extends 'base.html' %}

{% load static %}

{% block content %}

<body>

  <div class="container home_msg">
    {% if user.is_authenticated %}
      <form enctype="multipart/form-data" method="post" role="charge" id="payment-form">
        {% csrf_token %}
        <label for="amount">Enter donation amount:</label>
        <input type="text" id="amount" name="amount">
        <button type="submit" class="btn btn-success">Donate</button>
      </form>
    {% else %}
      <h2>You're not logged in...</h2><a href="{% url 'login' %}" class="btn btn-secondary">Log in</a>
    {% endif %}
  </div>

</body>

{% endblock %}
