{% extends 'base.html' %}

{% block content %}
<br>
<h1 style="color:#4F6367;">Update <span class="text-success">{{ user.username }}</span></h1>

<form id="update-form" action="" method="POST" enctype="multipart/form-data">
  {% csrf_token %}
  {{ form.as_p }}
  
  <input type="submit" value="Update!" class="btn bg-success">
</form>

<p id="success-message" style="display: none; color: green;">Profile successfully updated!</p>
<script>
  document.getElementById("update-form").addEventListener("submit", function(event) {
  
    document.getElementById("success-message").style.display = "block";
    
    event.preventDefault();
    
    setTimeout(function() {
      window.location.href = "{% url 'profile' %}";
    }, 2000);
  });
</script>

{% endblock %}