{% extends 'base.html' %}
{% load static %}
{% block content %}
<br>
<h1>Welcome,<span class="display-name"> {{ user.username }}!</span></h1>
<div class="container mt-5"> <!-- Add Bootstrap container class for layout -->
  <div class="row"> <!-- Add Bootstrap row class for layout -->
    <div class="col-md-6 offset-md-3"> <!-- Add Bootstrap columns for layout -->
      <p>User: {{ user.first_name }} {{ user.last_name}}</p>
      <p>Email: {{ user.email }}</p>
      <p>Total donation amount: ${{ total_amount_donated }}</p>
      <br>
      {% if request.user.id == profile.user.id %}
      <div class="d-grid gap-2"> <!-- Use Bootstrap grid for button placement -->
        <button class="btn btn-primary mb-3 btn-custom-width" onclick="location.href='{% url 'charge'%}'">
          Donate Now!
        </button>
        <button class="btn btn-warning mb-3 btn-custom-width" onclick="location.href='{% url 'edit_profile'%}'">
          Edit Profile
        </button>
        <button class="btn btn-success mb-3 btn-custom-width" onclick="location.href='{% url 'change_password'%}'">
          Change Password
        </button>
        <button class="btn btn-danger mb-6 btn-custom-width" onclick="location.href='{% url 'delete_user' user.id%}'">
          Delete Profile
        </button>
      </div>
      {% endif %}
    </div>
  </div>
</div>
{% endblock %}

<link rel="stylesheet" type="text/css" href="{% static 'css/style.css' %}">